#!/bin/sh
build=build/$M3_TARGET-$M3_ISA-$M3_BUILD
fs=$build/$M3_FS
if [ "$M3_TARGET" = "host" ]; then
    echo kernel idle=$build/bin/idle fs=$fs
else
    echo kernel
fi
echo m3fs `stat --format="%s" $fs` daemon
echo pager daemon
echo init /bin/accelchain /small.bin /tmp/out1.txt 1 2048 2 requires=pager requires=m3fs
